<h1>{{ title }}</h1>

<div class="row d-flex justify-content-center bigbox">
    <div class="container">
      <div class="row">
        <div *ngFor="let planta of plantas; let i = index" class="col-md-3">
          <div class="card">
            <img src="../../assets/images/plantas/{{planta.imagem}}.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{planta.nome}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{planta.nomec}}</h6>
              <a routerLink="/planta/{{planta.id}}" class="card-link">VER MAIS</a>
              <a class="card-link" (click)="onDeletePlanta(i)">EXCLUIR</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
