<nav>

  <input type="checkbox" id="hamburger">
  <div class="nav-logo">
    <img src="./assets/images/logo-horta.svg" alt="Logotipo">
    <div class="nav-name">HORTA</div>
  </div>
  
  <div class="burger">
    <label for="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <ul class="nav-links">
    <li>
      <a routerLink="/">Home<span class="sr-only">(current)</span></a>
    </li>
    <li>
      <a routerLink="/plantas">Plantas</a>
    </li>
    <li>
      <a routerLink="/pragas">Pragas</a>
    </li>
    <li>
      <a routerLink="/inscreva-se">Inscreva-se</a>
    </li>
    <li>
      <a routerLink="/login" class="nav-btn">login</a>
    </li>
  </ul>

</nav>
