/* PlantaDetalhesComponent's private CSS styles */

body, 
html {
  background-color: var(--main-bg-color);
}

body { background-color: black; }

.card-pic img {
  position: relative;
  margin: 0px 42px;
  display: block;
  width: 300px;
  border-radius: 12px;
}

.plant-details {
padding: 0px 50px;
font-size: 16px;
}

.sec {
  font-size: 18px;
  font-style: italic;
  color: var(--main-txt-color);
  padding-top: 15px;
  text-align: left;
}

.plant-details p {
text-align: justify;
text-justify: inter-word;
font-family: var(--secondary-font-family);
font-weight: lighter !important;
font-size: 18px;
color: var(--main-txt-color);
}

.plant-details b {
  font-weight: bold;
  font-size: 18px;
  color: var(--main-txt-color);
  text-transform: uppercase;
}

.plant-info {
  position: relative;
  display: block;
  padding-left: 30px;
  padding-right: 30px;
}

.plant-info table {
margin: 0px auto;
border-collapse: collapse;
text-align: center;
vertical-align: middle;
color: var(--main-txt-color);
font-size: 13px;
}

.plant-info tr {
  border-bottom: 1px solid var(--main-txt-color);
}

.plant-info td {
  width: 20px;
}

.plant-info td:nth-child(even) {
  background-color: var(--footer-bg-color);
}
.icon {
  position: relative;
  width: 10%;
}

.icon img {
width: 100%;
fill-rule: evenodd;
}

.block {
position: relative;
display: block;
}

.info {
margin-left: 5%;
color: var(--main-txt-color);
}

.info h6 {
font-size: 18px;
width:100%;
font-weight: bold;
text-transform: uppercase;
}

.division {
content: '';
background: #4b5372;
width: 100%;
height: 1px;
margin: auto;
display: block;
}

.btn-type-a {
  background-color: var(--footer-bg-color);
  border-radius: 6px;
  border: none;
  padding: 10px 20px;
  float: right;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--main-txt-color);
}

.btn-type-a:hover {
  background-color: var(--first-accent-color);
  color: var(--main-bg-color);
  text-decoration: none;
}

.content-wrapper {
  position: relative;
  height: fit-content;
  margin-top: 24px;
  margin-bottom: 22px;
  padding-bottom: 32px;
  box-shadow: 6px 6px 10px #282b38, 
             -6px -6px 10px #464b62;  
  border-radius: 12px;
}