<div>
    <textarea class="form-control" rows="40" readonly="true">
1. INFORMAÇÕES GERAIS E DEFINIÇÕES

A Horta criou esta Política de Privacidade para demonstrar seu compromisso em proteger a privacidade e dados pessoais de
seus usuários, nos termos da Lei Geral de Proteção de Dados (Lei nº 13.709/2018) e demais leis sobre o tema, bem como
para descrever de que forma os dados são protegidos, tratados e armazenados.

1.1 Definições

Usuário: todas as pessoas físicas que utilizam a aplicação, desde que maiores de 18 (dezoito) anos e totalmente capazes
de praticar os atos da vida civil, ou os absolutamente ou relativamente incapazes, devidamente representados ou
assistidos.
Dados pessoais: qualquer informação fornecida e/ou coletada pela Horta, por qualquer meio, que identifique, ou que,
quando usadas em combinação com outras informações tratadas pela Horta, identifiquem o Usuário. Os Dados Pessoais podem
estar em qualquer mídia ou formato, inclusive registros eletrônicos ou computadorizados, bem como em arquivos baseados
em papel. Os Dados Pessoais, no entanto, não incluem telefone comercial, número de celular comercial, endereço
comercial, e-mail comercial.
Autorização legal: fundamentação legal que torna legítimo o tratamento de dados pessoais para uma determinada finalidade
prévia por parte da Horta.
Consentimento: autorização expressa e inequívoca dada pelo Usuário titular do dado pessoal para que a Horta trate seus
dados pessoais para uma finalidade previamente descrita.

1.2 Informações Gerais

Esta política se aplica, em geral, a todos os Usuários e potenciais Usuários dos serviços oferecidos pela Horta e resume
como a Horta poderá coletar, produzir, receptar, classificar, utilizar, acessar, reproduzir, transmitir, distribuir,
processar, arquivar, armazenar, eliminar, avaliar ou controlar a informação, modificar, comunicar, transferir, difundir
ou extrair os dados coletados, incluindo as informações de identificação pessoal, de acordo com as bases legais
aplicáveis e todas as leis de privacidade e proteção de dados em vigor.
Ao acessar ou utilizar o site da Horta, o Usuário declara ter no mínimo 18 (dezoito) anos e ter capacidade plena e
expressa para a aceitação dos termos e condições desta Política de Privacidade e do Termo de Consentimento para todos os
fins de direito.
Quando o Usuário realiza o cadastro por meio do formulário da aplicação, os dados pessoais ali contidos são armazenados
e mantidos em sigilo.

Caso o Usuário não se enquadre na descrição acima ou não concorde, ainda que em parte, com os termos e condições
contidos nesta Política de Privacidade, não deverá acessar ou utilizar os serviços oferecidos pela Horta, bem como os
sites e serviços por ela operados.

2. COMPARTILHAMENTO E TRATAMENTO DE INFORMAÇÕES PESSOAIS

A Horta não disponibilizará dados pessoais coletados para corretores de lista de e-mail sem expresso consentimento do
Usuário.

A Horta somente fornecerá dados pessoais coletados nas seguintes situações e nos limites exigidos e autorizados pela
Lei:

i. Para propósitos administrativos como: pesquisa, planejamento, desenvolvimento de serviços, segurança e gerenciamento
de risco;
ii. Quando necessário em decorrência de obrigação legal, determinação de autoridade competente, ou decisão judicial.

3. SEGURANÇA DE INFORMAÇÕES PESSOAIS

Todos os dados pessoais serão armazenados na base de dados da Horta. Vários procedimentos de segurança são adotados para
garantir a confidencialidade, segurança e integridade dos dados pessoais dos Usuários.

Embora a Horta utilize medidas de segurança e monitore seu sistema para verificar vulnerabilidades e ataques para
proteger os dados pessoais contra divulgação não autorizada, mau uso ou alteração, o Usuário entende e concorda que não
há garantias de que as informações não poderão ser acessadas, divulgadas, alteradas ou destruídas por violação de
qualquer uma das proteções físicas, técnicas ou administrativas.

4. RETENÇÃO DE DADOS

A Horta retém todos os dados fornecidos, inclusive os dados pessoais, enquanto o cadastro do Usuário estiver ativo.
Estes dados serão mantidos até requerimento de exclusão pelo usuário, quando serão destruídos e não poderão ser
recuperados.

5. AUTORIZAÇÃO LEGAL PARA PROCESSAMENTO DOS DADOS PESSOAIS

A Horta apenas trata Dados Pessoais em situações legalmente autorizadas ou mediante consentimento expresso e inequívoco
do Usuário.

Conforme descrito na presente Política, a Horta tem autorização legal para coletar, produzir, receptar, classificar,
utilizar, acessar, reproduzir, transmitir, processar, arquivar, armazenar, modificar, comunicar ou extrair dados do
Usuário.

6. DIREITO DE ACESSAR E CONTROLAR SEUS DADOS PESSOAIS

A Horta oferece ao Usuário controles sobre os dados pessoais coletados, incluindo exclusão e correção. O Usuário pode:

i. Excluir dados: o Usuário pode solicitar a exclusão de alguns de seus dados pessoais, ou do cadastro realizado como um
todo.
ii. Alterar ou corrigir dados: o Usuário pode editar ou solicitar a edição dos dados pessoais em todo ou em parte.
iii. Colocar objeções, limites ou restrições ao uso de dados: o Usuário pode solicitar a interrupção do uso de todos ou
alguns de seus dados pessoais.
iv. Acessar dados: o Usuário pode solicitar uma cópia dos dados pessoais fornecidos em um formato legível sob a forma
impressa ou por meio eletrônico.

7. FORO DE ELEIÇÃO

Fica eleito o foro da Comarca de São Paulo, com expressa renúncia de qualquer outro, para dirimir qualquer questão
decorrente da presente Política de Privacidade.

  </textarea>
</div>