<div class="content-wraper">
  <h1>{{ title }} </h1>

  <div class="container-fluid cont">
    <div class="container">
      <form method="post">

        <div class="form-group">
          <label for="user">Usuário</label>
          <input type="text" class="form-control" name="usuario">
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input type="password" class="form-control" name="senha">
        </div>
        <div class="d-flex justify-content-end">
          <a type="submit" class="btn-type-a mt-2" routerLink="/area-cliente">Entrar</a>
        </div>
        <hr class="my-4">
        <div class="d-flex justify-content-center">
          <a type="button" class="btn-type-b"><i class="fab fa-google icon-google mx-2"></i>
            Continuar usando Google</a>
        </div>
      </form>
    </div>
  </div>
</div>
