<div>
  <div *ngIf="planta" class="container content-wrapper">
      <h1>{{planta.nome}}</h1>
      <div class="row">
          <div class="col-md-4 card-pic">
              <img src="{{planta.foto.url}}" alt="">
          </div>
          <div class="col-md-8 plant-details">
              <h3 class="sec">{{planta.nomec}}</h3>
              <p>{{planta.descricao}}</p>
              <div class="plant-info">
                  <table>
                      <tr>
                          <th>Estação</th>
                          <th colspan="3">Primavera</th>
                          <th colspan="3">Verão</th>
                          <th colspan="3">Outono</th>
                          <th colspan="3">Inverno</th>
                      </tr>
                      <tr>
                          <td>Semear</td>
                          <td>●</td>
                          <td>●</td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                      </tr>
                      <tr>
                          <td>Transplantar</td>
                          <td> </td>
                          <td> </td>
                          <td>●</td>
                          <td>●</td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                      </tr>
                      <tr>
                          <td>Colher</td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td>●</td>
                          <td>●</td>
                          <td>●</td>
                          <td>●</td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                      </tr>
                  </table>
              </div>
              <br />
          </div>
      </div>
  </div>

  <div class="container content-wrapper p-5 my-5">
      <div class="row">
          <div class="info-section col-md-6 d-flex py-3">
              <div class="icon">
                  <img src="../../assets/images/icons/estacao.svg" alt="">
              </div>
              <div class="info">
                  <h6>Plantio</h6>
                  <p>{{planta.epoca}}</p>
              </div>
          </div>

          <div class="col-md-6 d-flex py-3">
              <div class="icon">
                  <img src="../../assets/images/icons/temperature.svg" alt="">
              </div>
              <div class="info">
                  <h6>Temperatura</h6>
                  <p>{{planta.temperatura}}</p>
              </div>
          </div>
      </div>
      <!-- Fim Primeira Linha -->

      <div class="row">
          <div class="col-md-6 d-flex py-3">
              <div class="icon">
                  <img src="../../assets/images/icons/water-drops.svg" alt="">
              </div>
              <div class="info">
                  <h6>Rega</h6>
                  <p>{{planta.irrigacao}}</p>
              </div>
          </div>
          <div class="col-md-6 d-flex py-3">
              <div class="icon">
                  <img src="../../assets/images/icons/shovel-and-rake.svg" alt="">
              </div>
              <div class="info">
                  <h6>Adubação</h6>
                  <p>{{planta.solo}}</p>
              </div>
          </div>
      </div>
      <!-- Fim Segunda Linha -->

      <div class="row">
          <div class="col-md-6 d-flex py-3">
              <div class="icon">
                  <img src="../../assets/images/icons/sun.svg" alt="">
              </div>
              <div class="info">
                  <h6>Sol</h6>
                  <p>{{planta.luz}}</p>
              </div>
          </div>
          <div class="col-md-6 d-flex py-3">
              <div class="icon">
                  <img src="../../assets/images/icons/praga.svg" alt="">
              </div>
              <div class="info">
                  <h6>Pragas</h6>
                  <p>{{planta.pragas}}</p>
              </div>
          </div>
      </div>
      <!-- Fim Terceira Linha -->
      <a class="btn-type-a" style="cursor: pointer;" (click)="onAddPlanta(planta)">Adicionar</a>

  </div>
</div>