/* UserCadastroComponent's private CSS styles */

form {
    position: relative;
    margin: auto;
}

label {
    color: var(--main-txt-color);
    font-family: var(--secondary-font-family);
    font-size: 14px;
    font-weight: lighter;
}

.btn-type-a {
    background-color: var(--footer-bg-color);
    border-radius: 6px;
    border: none;
    padding: 10px 20px;
    float: right;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--main-txt-color);
}

.btn-type-a-gray {
  background-color: #808080;
  border-radius: 6px;
  border: none;
  padding: 10px 20px;
  float: right;
  text-transform: uppercase;
  font-weight: bold;
  color: #C0C0C0;
}
  
  .btn-type-a:hover {
    background-color: var(--first-accent-color);
    color: var(--main-bg-color);
    text-decoration: none;
}

.content-wrapper {
    position: relative;
    min-height: 60vh;
    margin-top: 24px;
    margin-bottom: 22px;
    padding-bottom: 40px;
    box-shadow: 6px 6px 10px #282b38, 
               -6px -6px 10px #464b62;  
    border-radius: 12px;
}

.container {
    margin-bottom: 3em;
}