<div class="container">
    <h2>Olá, {{ usuario }}</h2>

    <nav>
        <ul>
            <li class="dashtab"><a routerLink="usuario-plantas" routerLinkActive="activebutton">Minhas Plantas</a></li>
            <li class="dashtab"><a routerLink="usuario-alarmes" routerLinkActive="activebutton">Alarmes</a></li>
            <li class="dashtab"><a routerLink="usuario-editar-cadastro" routerLinkActive="activebutton">Configurações</a></li>
        </ul>
    </nav>

    <router-outlet></router-outlet>
</div>