<div class="container">

    <!-- Avisos do Cultivo - Regar -->
    <div class="container content-wrapper my-5">
        <div class="row reminder">
            <h3>Regar</h3>
            <div class="reminder-content">
                <div class="col-10">
                    Terça-feira - Quinta-feira
                    <br />
                    9:00 hrs
                </div>
                <div class="col-2">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!-- Aviso de Cultivo - Adubar -->
    <div class="container content-wrapper my-5">
        <div class="row reminder">
            <h3>Adubar</h3>
            <div class="reminder-content">
                <div class="col-10">
                    12 de dezembro
                    <br />
                    9:00 hrs
                </div>
                <div class="col-2">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!-- Aviso de Cultivo - Podar -->
    <div class="container content-wrapper my-5">
        <div class="row reminder">
            <h3>Podar</h3>
            <div class="reminder-content">
                <div class="col-10">
                    09 de março
                    <br />
                    9:00 hrs
                </div>
                <div class="col-2">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

