/* ----------| ALL |---------- */
:root {
  --main-bg-color: #373B4D;
  --main-txt-color:  #ECE7DA;
  --first-accent-color: #E5F77D;
  --second-accent-color: #F4935C;
  --footer-bg-color: #C9AF97;
  --main-font-family: 'Anton', sans-serif;
  --secondary-font-family: 'Heebo', sans-serif;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  background-color: var(--main-bg-color);
  font-family: var(--secondary-font-family);
}

.content-wraper {
  position: relative;
  margin: 36px auto 60px auto;
  width: 80%;
  min-height: 80vh;
  height: fit-content;
  box-shadow: 6px 6px 10px #282b38, 
             -6px -6px 10px #464b62;  
  border-radius: 12px;
}

h1 {
  color: var(--main-txt-color);
  font-family: var(--main-font-family);
  font-size: 30px;
  padding: 30px;
}

h1::after {
  content: '';
  background: var(--first-accent-color);
  width: 100%;
  height: 4px;
  margin: auto;
  display: block;
}

/* ---------- | NAVBAR | ---------- */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: transparent;
}

.nav-logo {
  color: var(--main-txt-color);
  text-transform: uppercase;
  letter-spacing: 3px;
  display: flex;
}

.nav-logo img {
  width: 30px;
}

.nav-name {
  font-family: var(--main-font-family);
  font-size: 30px;
  color: var(--first-accent-color);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links li {
  list-style: none;
  margin-top: 15px;
}

.nav-links a {
  color: var(--main-txt-color);
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 16px;
}

.nav-links a:hover {
  color: var(--first-accent-color) !important;
}

.nav-btn {
  background-color: var(--first-accent-color);
  border-radius: 30px;
  padding: 10px 20px;
  color: var(--second-accent-color) !important;
  text-transform: uppercase;
  letter-spacing: 0px !important;
}

.nav-btn:hover {
  background-color: var(--footer-bg-color);
}

nav > .burger,
nav > #hamburger {
  display: none;
}

.burger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px){
  .nav-links {
    width: 70%;
  }
}

@media screen and (max-width: 768px){
  /* ---------- | NAVBAR | ---------- */
  nav > .burger {
    display: inline;
    position: absolute;
    right: 30px;
    top: 0px;
  }

  nav > .burger > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 20px;
  }

  nav > .burger > label > span {
    display: block;
    width: 30px;
    height: 12px;
    border-top: 3px solid var(--main-txt-color);
    cursor: pointer;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height:92vh;
    top: 8vh;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    width: 50%;
    z-index: 9;
  }

  nav > #hamburger:not(:checked) ~ .nav-links {
    height: 0px;
  }

  nav > #hamburger:checked ~ .nav-links {
    height: calc(100vh - 12px);
    overflow-y: auto;
  }
} /* --- | END NAVBAR | --- */

/* ----------| FORM |---------- */

form {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

label {
  color: var(--main-txt-color);
  font-family: var(--secondary-font-family);
  font-size: 14px;
  font-weight: lighter;
}

.small-tex {
  font-size: 12px;
  font-weight: lighter;
}

#form-inscreva-se {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.google-form {
  position: absolute;
}

.google-form::before {
  content: '';
  background: var(--first-accent-color);
  width: 100%;
  height: 4px;
  margin: auto;
  display: block;
}

.minhaconta::after {
  content: '';
  background: transparent;
  width: 100%;
  height: 4px;
  margin: auto;
  display: block;
}

.cont-login::after {
  content: '';
  background: var(--first-accent-color);
  width: 100%;
  height: 4px;
  margin: auto;
  display: block;
} /* ---| END FORM |--- */

/* ----------| BUTTONS |---------- */
.btn-type-a {
  background-color: var(--first-accent-color);
  border-radius: 30px;
  padding: 10px 20px;
  float: right;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--second-accent-color) !important;
}

.btn-type-a:hover {
  background-color: var(--footer-bg-color);
  color: var(--first-accent-color) !important;
  text-decoration: none;
}

.btn-type-b {
  background-color: var(--main-txt-color);
  border-radius: 12px;
  padding: 12px;
  font-family: var(--secondary-font-family);
  font-size: 16px;
  color: var(--main-bg-color);
}

.btn-type-b:hover {
  color: var(--second-accent-color) !important;
  text-decoration: none;
} /* ---| END BUTTONS |--- */

/* ----------| FOOTER |---------- */
footer {
  background: var(--footer-bg-color);
  width: 100%;
  position: relative;
  top: auto;
}

.footer-title {
  font-family: var(--main-font-family);
  font-size: 16px;
  color: var(--main-bg-color);
}

.footer-links {
  font-family: var(--secondary-font-family);
  font-size: 14px;
  color: var(--main-bg-color);
}

.footer-brand_name {
  font-family: var(--main-font-family);
  font-size: 20px;
  color: var(--main-bg-color);
}

.footer-social_media {
  width: 30px;
}

.footer-logo {
  width: 5%;
}

.footer-end::before {
  content: '';
  background: var(--first-accent-color);
  width: 96%;
  height: 4px;
  margin: auto;
  display: block;
}

footer a:hover {
  color: var(--first-accent-color) !important;
}

/* ----------| MEDIA QUERIES |---------- */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .footer-social_media {
    width: 30px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* ----------| FOOTER |---------- */

  .footer-title {
    font-size: 24px;
  }

  .footer-links {
    font-size: 16px;
  }

  .footer-brand_name {
    font-size: 30px;
  }

  .footer-social_media {
    width: 50px;
  }

  .footer-logo {
    width: 3%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

