<div class="container content-wrapper">
    <h1>Plantas</h1>
    <form>
        <div class="search">
            <input type="text" class="search-box">
            <a class="btn-type-a" href="#">Pesquisar</a>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        <div *ngFor="let planta of plantas; let i = index" class=" col-md-3">
            <div class="card">
                <img src="../../assets/images/plantas/{{planta.imagem}}.jpg" class="card-img-top" alt="..."
                  style="cursor: pointer" routerLink="/planta/{{planta.id}}">
                <div class="card-body">
                    <h5 class="card-title" style="cursor: pointer" routerLink="/planta/{{planta.id}}">{{planta.nome}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{planta.nomec}}</h6>
                    <a routerLink="/planta/{{planta.id}}" class="card-link">VER MAIS</a>
                    <a  class="card-link" style="cursor: pointer" (click)="onAddPlanta(planta)">ADICIONAR</a>
                </div>
            </div>
        </div>
    </div>
</div>