<div class="container content-wrapper">
  <h1>Pragas</h1>
  <form>
    <div class="search">
      <input type="text" class="search-box">
      <a class="btn-type-a" href="#">Pesquisar</a>
    </div>
  </form>
</div>

<div class="container">
  <div class="row">
    <div *ngFor="let praga of pragas" class="col-md-4">
      <div class="card">
        <img src="{{praga.foto.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{praga.nome}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{praga.nomec}}</h6>
          <a routerLink="/pragadetalhes/{{praga.id}}" class="card-link">VER MAIS</a>
        </div>
      </div>
    </div>
  </div>
</div>